<% include header %>

<div class="container">
  <h1>Seleena Designs</h1>
  <p class="lead">We’re open 7 days, so start your shopping experience now!</p>
  <p>
    This site is part of the Sample Messenger Bot experience of Seleena Designs
  </p>
  <ul>
    <li>
      <a href="#home"> Seleena Designs Website </a>
    </li>
    <li>want to build your own</li>
  </ul>
</div>

<% include footer %>
